<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="https://i.imgur.com/NN9GJqv.png">
        <title>Gallery</title>
        {% load static %}
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">Foretelling Fate in Forums </a>
            
        </nav>
        <div class="container">
            <!-- code here -->
            <div class="card">
                <div class="card-image">
                    <h2 class="card-heading">
                        Get started
                        <small>Get to 
                            <br>
                            know the
                            <br>
                            chances of 
                            <br>
                            this question<br>
                            being closed.</small>
                    </h2>
                </div>
                <form class="card-form" method="post" action="/dashboard">
                    {% csrf_token %}
                    <div class="input">
                        <input type="text"
                               name="question"
                               class="input-field"
                               placeholder="Question"
                               required/>
                    </div>
                    <div class="input">
                        <select name="platform" id="platform" required>
                            <option disabled="true">
                                --Select Platform--
                            </option>
                            <option value="StackOverflow">
                                StackOverflow
                            </option>
                            <option value="Quora">
                                Quora
                            </option>
                            <option value="Reddit">
                                Reddit
                            </option>
                        </select>
                    </div>

                    <div class="input">
                        <select name="model" id="model" required>
                            <option disabled="true">
                                --Select Model--
                            </option>
                            <option value="Model1">
                                Gaussian Naive Bayes
                            </option>
                            <option value="Model2">
                                MLP Classifier
                            </option>
                            <option value="Model3">
                                SVC Classifier
                            </option>
                            <option value="Model4">
                                Random Forest Classifier
                            </option>
                            <option value="Model5">
                                Quadratic Discriminant Analysis
                            </option>
                        </select>
                    </div>

                    <div class="action">
                        <button class="action-button">Check Fate</button>
                    </div>
                </form>
                <div class="card-info">
                    <div class="container px-4 px-lg-5">Made with &#10084; by Group 1</div>
                </div>
            </div>
        </div>
    </body>
</html>
